.messages-list {
  align-content: center;
}

.messages {
  height: 350px;
  overflow-y: scroll;
  background-color: rgb(192,192,192, .3);
}

.message-contents {
  padding: 10px 5px 0px 25px;
  list-style: none;
  text-align: left;
  background-color: rgba(0, 0, 255, 0.3);
  border-radius: 15px;
}

#message-user {
  font-weight: bold;
  font-size: 12px;
}

#message-content {
  padding-top: 4px;
  padding-bottom: 6px;
  font-size: 15px;
}

#timestamp {
  font-style: italic;
  font-size: 10px;
  padding-right: 15px;
}


#create-new-message {
  padding: 10px 5px 0px 10px;
  position: relative;
}
