.chat-room-box {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 250px;
  max-width: 250px;
  height: 100%;
  max-height: inherit;
}

.room-heading {
  flex-direction: row;
  background-color: rgba(72,72,72);
  height: 58px;
  width: 250px;
  position: relative;
}


.room-list {
  flex-direction: row;
  list-style: none;
  text-align: left;
  height: 340px;
  overflow-y: scroll;
  background-color: rgba(192,192,192, .3);
  padding-top: 10px;
  margin-top: 0px;
}

li {
  padding: 5px;
}

#room-name {
  padding: 2px;
}

#room-name:hover {
  border: 2px solid rgba(248,131,121, 0.6);
  border-radius: 20%;
}

.highlight {
  background-color: #7FFF00;
  border-radius: 20%;
}

.new-room-form {
  flex-direction: row;
  left: -10px;
}
