.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}

.flex-item {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
}

#room-list {
  width: 0 0 250px;
}

#message-list {
  flex: 1;
}

#users {
  flex: auto;
}

h1 {
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(72,72,72);
  margin: 0;
}

.delete-button button {
  font-size: 10px;
  background-color: rgba(248,131,121, 0.6);
  border-radius: 8px;
}

.edit-button button {
  font-size: 10px;
  background-color: rgba(121,248,195, 0.6);
  border-radius: 8px;
}
